<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <img src="assets/img/logoacademicamente.png" alt="Imagen Dinámica" class="logo">
    <h1 class="logo me-auto"><a href="index.html"><h1 class="logotitulo">academicaMente</h1></a></h1>
<nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
      <li><a class="active" href="index.html">Inicio</a></li>
      <li><a href="about.html">Quienes Somos</a></li>
      <li><a href="courses.html">ingresar/Registrarse</a></li>
      <li><a href="trainers.html">Planes</a></li>
      <li class="dropdown">
        <a href="#"
          ><span>ejercicios</span> <i class="bi bi-chevron-down"></i
        ></a>
        <ul>
          <li><a href="#">Ejercitar Vocabulario</a></li>
          <li class="dropdown">
            <a href="#"
              ><span>Buscar Profesores Particulares</span> <i class="bi bi-chevron-right"></i
            ></a>
            <ul>
              <li><a href="#">Carrera</a></li>
              <li><a href="#">Materia</a></li>
              <li><a href="#">Clases Presenciales</a></li>
              <li><a href="#">Clases Virtuales</a></li>
            </ul>
          </li>
          <li><a href="#">Ejercitar Ortografia</a></li>
          <li><a href="#">Ejercitar Puntuacion</a></li>
          <li><a href="#">Ejercitar el Trabajo Inferencial</a></li>
        </ul>
      </li>
      <li><a href="contact.html">Contacto</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>
