<main id="main">
  
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <img src="assets/img/about.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>
            ¿Sabías que la mayoría de los alumnos que actualmente cursan carreras universitarias o terciarias no saben leer ni escribir textos académicos, y esto muchas veces les impide finalizar su carrera? 

          </h3>
          <p class="fst-italic">
            AcadémicaMente busca ofrecer una ayuda para quienes cursan estudios superiores y tienen dificultades a la hora de leer o de escribir textos académicos.
             
            

          </p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i>  permite que los estudiantes se contacten con profesores provenientes de las facultades e institutos del país
               para poder solicitar clases de apoyo.
            </li>
            <li>
              <i class="bi bi-check-circle"></i>  también ofrece variados ejercicios para practicar redacción
            </li>
            <li>
              <i class="bi bi-check-circle"></i> comprensión de textos académicos de una manera lúdica e interactiva.

            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  

  
  <section id="counts" class="counts section-bg">
    <div class="container">
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="1232"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Estudiantes</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="64"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Cursos</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="42"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Eventos</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="15"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Profesores</p>
        </div>
      </div>
    </div>
  </section>
  

  
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Que nos diferencia de la competencia?</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis
              aute irure dolor in reprehenderit Asperiores dolores sed et.
              Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio
              ad corporis.
            </p>
            <div class="text-center">
              <a href="about.html" class="more-btn"
                >Learn More <i class="bx bx-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          class="col-lg-8 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <img src="/assets/img/tusclases.png" alt="TusClases">
                <h4>Tusclases-Clases y Profesores</h4>
                <p>-Tiempos de carga muy lentos.</p>
                <p> -El chat resulta confuso.</p>
                <p>-Dificultades para cargar anuncios.</p>
              </div>
            </div>
          
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <img src="/assets/img/LogoABC.png" alt="LogoABC">
                <h4>Ortografia y Gramatica Español</h4>
                <p>-Pocos Niveles.</p>
                <p> -Errores de ortografia en los ejercicios.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <img src="/assets/img/Ortografia Española.png" alt="Logo">
                <h4>Ortografia y Gramatica Español</h4>
                <p>-Feedback escaso luego de los ejercicios.</p>
                <p> -Pocos ejercicios gratuitos.</p>
              </div>
            </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
   
  </section>
  

  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img
              src="assets/img/trainers/trainer-1.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="member-content">
              <h4>Walter White</h4>
              <span>Informatica y Sistemas</span>
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio
                veritatis perspiciatis quaerat qui aut aut aut
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img
              src="assets/img/trainers/trainer-2.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="member-content">
              <h4>Sarah Jhinson</h4>
              <span>Comunicacion Social</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas
                repellendus. In architecto rerum rerum temporibus
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img
              src="assets/img/trainers/trainer-3.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="member-content">
              <h4>William Anderson</h4>
              <span>Periodismo</span>
              <p>
                Voluptas necessitatibus occaecati quia. Earum totam consequuntur
                qui porro et laborum toro des clara
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</main>
